@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@import url("modules/game.css");
@import url("modules/details.css");
@import url("modules/board.css");
@import url("modules/controls.css");
@import url("modules/toggleColor.css");

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Variables */
  --light-dark: #efefef;
  --light: #f6f8ff;
  --lightest: #fefefe;
  --dark: #141d2f;
  --gray-dark: #182239;
  --gray: #1e2a47;
  --gray-light: #353f59;
  --blue: #0079ff;
  --red: #f0285b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light);
  color: var(--dark);
}

body.dark {
  background-color: var(--dark);
  color: var(--light);
}
